/**
 * application-all.css
 *
 * = require_self
 * = require_tree ./all
 * = require token-input
 * = require token-input-facebook
 * = require coin-slider-styles
 * = require pagination
 *
 */

.ym-wrapper {
  width: 960px;
  margin: 0 auto;
}

.ym-wbox {
  padding: 10px;
}

.ym-hlist ul.pull-right {
  float: right;
}
